= simple_form_for @waiting_list do |f|
  = f.error_notification

  .form-inputs
    %fieldset.foundation
      %legend Child's Details
      = f.input :child_full_name, label: "Child's full name"
      .ui-field-contain
        %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
          = f.input :child_dob, label: "Child's date of birth"

    %fieldset.foundation
      %legend Carer's Details
      = f.input :parent_full_name, lable: "Parent's full name"
      = f.input :address
      = f.input :home_phone
      = f.input :mobile_phone
    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :intend_start_date, label: 'Start Date'

    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :days_required, as: :check_boxes, collection: %w(Monday Tuesday Wednesday Thursday Friday)

    - if current_user.try(:admin)
      .ui-field-contain
        %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
          = f.input :date_contacted, label: 'Date Contacted'

  .form-actions
    = f.button :submit, value: 'Register'
