= simple_form_for @waiting_list do |f|
  = f.error_notification

  .form-inputs
    %h4 Child's Details
    = f.input :child_name
    = f.input :child_age
    %h4 Carer's Details
    = f.input :parent_name
    = f.input :phone
    = f.input :address
    = f.input :postcode
    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :expect_join_time, as: :radio_buttons, label: 'Expect to join', collection: %w(ASAP  Later)

    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :days_per_week, as: :check_boxes, collection: 1..5
  .form-actions
    = f.button :submit
