= simple_form_for @waiting_list do |f|
  = f.error_notification

  .form-inputs
    %fieldset.foundation
      %legend Child's Details
      = f.input :child_name
      = f.input :child_age

    %fieldset.foundation
      %legend Carer's Details
      = f.input :parent_name
      = f.input :phone
      = f.input :address
      = f.input :postcode
    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :expect_join_time, label: 'Start Date'

    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :days_per_week, as: :check_boxes, collection: %w(Mon Tue Wed Thu Fri)
  .form-actions
    = f.button :submit
