= simple_form_for @waiting_list do |f|
  = f.error_notification

  .form-inputs
    %fieldset.foundation
      %legend Child's Details
      = f.input :child_full_name
      = f.input :child_dob

    %fieldset.foundation
      %legend Carer's Details
      = f.input :parent_full_name
      = f.input :address
      = f.input :home_phone
      = f.input :mobile_phone
      = f.input :postcode
    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :intend_start_date, label: 'Start Date'

    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :days_required, as: :check_boxes, collection: %w(Monday Tuesday Wednesday Thursday Friday)
  .form-actions
    = f.button :submit
