%h1 Listing Waiting Lists

%table.ui-responsive{'data-mode' => 'reflow', 'data-role' => 'table'}
  %thead
    %tr
      %th Child name
      %th Child age
      %th Parent name
      %th Phone
      %th Address
      %th Postcode
      %th Expect join time
      %th Days per week
      %th
      %th
      %th
  %tbody
    - @waiting_lists.each do |waiting_list|
      %tr
        %td= waiting_list.child_full_name
        %td= waiting_list.child_dob
        %td= waiting_list.parent_full_name
        %td= waiting_list.home_phone
        %td= waiting_list.address
        %td= waiting_list.postcode
        %td= waiting_list.intend_start_date
        %td= waiting_list.days_required.reject!(&:empty?).join(',')
        %td.action
          = link_to waiting_list do
            %i.fi-eye.small
            Show
        %td.action
          = link_to edit_waiting_list_path(waiting_list) do
            %i.fi-pencil.small
            Edit
        %td.action
          = link_to waiting_list, :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %i.fi-trash.small
            Destroy
= will_paginate @waiting_lists, class: 'digg_pagination'
%br

= link_to 'New Waiting list', new_waiting_list_path
