%h2 Listing White Lists

%table.ui-responsive{'data-mode' => 'reflow', 'data-role' => 'table'}
  %thead
    %tr
      %th Email
      %th
      %th
      %th

  %tbody
    - @white_lists.each do |white_list|
      %tr
        %td= white_list.email
        %td.action
          = link_to white_list do
            %i.fi-eye.small
            Show
        %td.action
          = link_to edit_white_list_path(white_list) do
            %i.fi-pencil.small
            Edit
        %td.action
          = link_to white_list, :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %i.fi-trash.small
            Destroy

%br

= link_to 'New White list', new_white_list_path
