- if current_user.try(:admin) && !is_published_view
  %h3.category
    = "#{category} Program"
  - if activities.empty?
    .right
      = link_to 'Add', new_weekly_program_activities_path(@weekly_program, category: category)
  - else
    - activities.each do |activity|
      %h5.inline.day
        = activity.day
      .right
        = link_to 'Add', new_weekly_program_activities_path(@weekly_program, category: activity.category)
        \|
        = link_to 'Edit', edit_weekly_program_activities_path(@weekly_program, id: activity)
        \|
        = link_to 'Destroy', weekly_program_activities_path(@weekly_program, id: activity), :method => :delete, :data => { :confirm => 'Are you sure?' }

      = render partial: 'weekly_programs/activity', locals: {activity: activity}
- elsif activities.any?
  %h3.category
    = "#{category} Program"
    - activities.each do |activity|
      %h5.inline.day
        = activity.day
      = render partial: 'weekly_programs/activity', locals: {activity: activity}

