= simple_form_for @weekly_program do |f|
  = f.error_notification

  .form-inputs
    = f.input :week_start
    = f.input :number
    = f.input :program_staff
    = f.input :theme
    = f.input :goals
    = f.input :letter
    = f.input :shape
    = f.input :colour
  .form-actions
    = f.button :submit
