= simple_form_for @weekly_program do |f|
  = f.error_notification

  .form-inputs
    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :week_start, label: 'Start at'
    = f.input :program_staff
    = f.input :theme
    = f.input :goals
    = f.input :letter
    = f.input :number
    = f.input :colour
    = f.input :shape
    = f.input :published
  .form-actions
    = f.button :submit
