%table.condense_table.ui-responsive{'data-mode' => 'reflow', 'data-role' => 'table'}
  %thead
    %tr
      %th Transition song 9:00 AM
      %th Show and tell 11:00 AM
      %th Computer 2:45 PM
      %th Story time 3:30 PM
      %th Game group time 5:15 PM
  %tbody
    %tr
      %td= RedCloth.new(activity.morning).to_html.html_safe
      %td= RedCloth.new(activity.late_morning).to_html.html_safe
      %td= RedCloth.new(activity.afternoon).to_html.html_safe
      %td= RedCloth.new(activity.late_afternoon).to_html.html_safe
      %td= RedCloth.new(activity.finishing_up).to_html.html_safe
