%h1.inline
  Weekly Program
%span.label.warning
  = @weekly_program.week_range

.weekly_program
  %p
    .row
      .large-4.columns
        %b Program staff:
        = @weekly_program.program_staff
      .large-8.columns
        %b Theme:
        = @weekly_program.theme
    .row
      .large-4.columns
        %b Number Of week:
        = @weekly_program.number
      .large-8.columns
        %b Goals:
        = @weekly_program.goals
    .row
      .large-4.columns
        %b Letter Of week:
        = @weekly_program.letter
      .large-4.columns
        %b Colour:
        = content_tag(:span, @weekly_program.colour, style: 'color: ' + @weekly_program.colour)
      .large-4.columns
        %b Shape:
        = @weekly_program.shape
    - if current_user.try(:admin) && !is_published_view
      .row
        .large-4.columns
          %b Published:
          = @weekly_program.published
        .right
          = link_to 'Edit', edit_weekly_program_path(@weekly_program)

  - indoor_activities = @weekly_program.indoor_activities
  - outdoor_activities = @weekly_program.outdoor_activities
  - group_time_plannings = @weekly_program.group_time_plannings_sorted
  = render partial: 'weekly_programs/activities', locals: {activities: indoor_activities, category: 'Indoor', is_published_view: is_published_view}
  = render partial: 'weekly_programs/activities', locals: {activities: outdoor_activities, category: 'Outdoor', is_published_view: is_published_view}
  = render partial: 'weekly_programs/group_time_plannings', locals: {activities: group_time_plannings, is_published_view: is_published_view}

  %p
  - if current_user.try(:admin) && !is_published_view
    = link_to 'Back', weekly_programs_path
  - else
    = render partial: 'activities/outcomes'
