= simple_form_for @story do |f|
   = f.error_notification

   .form-inputs
      = f.input :title
      = f.input :content
      = f.input :time_line, value: Date.today
      = f.input :story_attachment, as: :file, input_html: { multiple: true, name: 'story_attachments[photo][]'}
      = f.association :outcomes, as: :check_boxes, label_method: :description
   .form-actions
      = f.button :submit
