= simple_form_for @story do |f|
  = f.error_notification

  .form-inputs.stories
    = f.input :time_line, value: Date.today, label: 'Time'
    = f.input :content
    - if @story_attachments_as_json
      %ul{'ng-controller'=> 'StoryAttachmentController', 'ng-init' => "createAttachments('#{@story_attachments_as_json}')"}
        %li{'ng-repeat'=>'attachment in attachments'}
          %img.story-image{'ng-src'=> '{{ attachment.photo_url }}'}
          = link_to('#', 'ng-click'=>'removeAttachment(attachment)') do
            .fi-trash.small
    = file_field_tag('fileupload', name: 'story_attachments[photo][]', 'data-url'=>'',  'multiple'=>'')
    .progress.radius.success
      %span.meter{ 'style' => 'width: 0%;' }
    
    .form-actions
      = f.button :submit
    = f.association :outcomes, as: :check_boxes, label_method: :long_description
  .form-actions
    = f.button :submit
