%h1.inline Listing stories
.right.preview-link
  =link_to('Preview learning stories', preview_our_stories_path)

%table.ui-responsive{'data-mode' => 'reflow', 'data-role' => 'table'}
  %thead
    %tr
      %th Time line
      %th Content
      %th
      %th
      %th
  %tbody
    - @stories.each do |story|
      %tr
        %td.time= story.time_line
        %td= story.content
        %td.action
          = link_to story do
            %i.fi-eye.small
            Show
        %td.action
          = link_to edit_story_path(story) do
            %i.fi-pencil.small
            Edit
        %td.action
          = link_to story, :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %i.fi-trash.small
            Destroy
= will_paginate @stories, class: 'digg_pagination'
%br

= link_to 'New Story', new_story_path
