%h1 Listing stories

%table
  %tr
    %th Title
    %th Content
    %th Time line
    %th
    %th
    %th

  - @stories.each do |story|
    %tr
      %td= story.title
      %td= story.content
      %td= story.time_line
      %td= link_to 'Show', story
      %td= link_to 'Edit', edit_story_path(story)
      %td= link_to 'Destroy', story, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Story', new_story_path
