%p
  %b Content:
  %br
  = @story.content
%p
  %b Time:
  %br
  = @story.time_line
%p
  %b Photos:
  %br
  %ul.story
    - @story_attachments.each do |attachment|
      %li
        = image_tag attachment.photo_url(:preview), class: 'story-image'
%p
  %b Outcomes:
  %br
  - @story.outcomes.each do |outcome|
    = outcome.long_description
    %p

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
