%p
  %b Content:
  = @story.content
%p
  %b Time line:
  = @story.time_line
%p
  - @story_attachments.each do |attachment|
    = image_tag attachment.photo_url
%p
  - @story.outcomes.each do |outcome|
    = outcome.description
    %p

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
