%p
.panel.callout.radius
  For privacy purpose, only parents of children in Little Star Daycare Centre can sign in to view activities.
  %p
  Please
  =link_to('contact', 'mailto:littlestarelc@bigpond.com', target: '_top')
  Little Star Daycare Centre if you would like to have an access.

%h2 Sign in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .large-6.columns
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Sign in"
= render "devise/shared/links"
