= simple_form_for @activity, url: weekly_program_activities_path(@activity.weekly_program_id, id: params[:id]) do |f|
  = f.error_notification

  .form-inputs
    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :category, as: :radio_buttons, collection: %w(Indoor Outdoor)
    .ui-field-contain
      %fieldset{'data-type' => 'horizontal', 'data-role' => 'controlgroup'}
        = f.input :day, as: :radio_buttons, collection: %w(Monday Tuesday Wednesday Thursday Friday)
    = f.input :cognitive
    = f.input :cognitive_outcome
    = f.input :cross_mentor
    = f.input :cross_mentor_outcome
    = f.input :social, label: 'Social/Emotional'
    = f.input :social_outcome, label: 'Social/Emotional outcome'
    = f.input :art_and_craft
    = f.input :art_and_craft_outcome
    = f.input :language
    = f.input :language_outcome
  .form-actions
    = f.button :submit
