.row
  .large-12.columns
    %ul.example-orbit{'data-orbit' => ''}
      %li
        = image_tag('image1.jpg')
      %li
        = image_tag('image2.jpg')
      %li
        = image_tag('image3.jpg')
      %li
        = image_tag('qiqi.jpg')
%hr/
.row
  .large-7.columns
    %h4 What can we offer our families:
    %ul.disc
      %li
        Educational program and care for children between 2 and 5 years of age.
      %li
        Long Day Care from 7.30 am to 6.00 pm Monday to Friday
      %li
        The centre is open 52 weeks a year, except on Public Holidays. Dates will be advised
      %li
        School Readiness Program
      %li
        Large outdoor playground
      %li
        Early Years Learning Framework curriculum
      %li
        Qualified cook  prepares all meals served daily
      %li
        Meals that provide children with their required Daily   Nutritional Intake.
      %li
        Caring, experienced and qualified educators
      %li
        On site pick up/drop off parking area
      %li
        Approved for Child Care Benefit and Child Care Rebate
    %h4 Location
    We are positioned close to:
    %ul.disc
      %li
        Carlton Railway stations
      %li
        Bus stop.
      %li
        South Carlton primary public school.
  .large-5.columns
    %h4 Educators:
    %p
      We aim to provide the highest standard of quality care and education for your child, therefore we strive to employ a team of educators from a range of diverse  background, as well as qualifications:
    %ul
      %li.emphasize
        University Trained Early Childhood Teachers
      %li
        %span.emphasize
          Trained Educators
        %span
          \- Diploma in Early Childhood Education and Care
      %li
        %span.emphasize
          Assistant Educators
        %span
          \- Certificate III in Early Childhood Education and Care
      %li
        %span.emphasize
          Trained Educators
        %span
          \– Training in Certificate III in Early Childhood Education and Care
      %li
        %span.emphasize
          Qualified Cook
        %span
          \- Certificate in Food Handling/Food Safety
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p
            Address: 6 Nielsen Ave, Carlton NSW 2218
            %br
            Phone:(02) 9587 3703
        .large-3.columns
          = link_to('Contact Us', contact_us_path, class: 'radius button right')
