%ul.stories.image-light-box
  - if @stories.empty?
    Sorry, no stories available.
  - else
    %h1
      = "#{@stories.first.time_line.strftime('%A, %d %b %Y')} @ Little Star"

    .navigate-date
      - if @last_story_date
        .left
          =link_to(our_stories_path(date: @last_story_date)) do
            %i.fi-arrow-left
            Last

      - if @next_story_date
        .right
          =link_to(our_stories_path(date: @next_story_date)) do
            Next
            %i.fi-arrow-right
    .stories
      - @stories.each do |story|
        %li.story
          %ul
            .content
              .story-images.left
                - story.story_attachment.each do |attachment|
                  %li
                    =link_to(image_tag(attachment.photo_url(:thumb), class: 'story-image', alt: "#{truncate(story.content, :length => 200,  :separator => ' ')}"), attachment.photo_url)
              = story.content
              .clear
            .outcomes
              - if story.outcomes.any?
                .panel.callout.radius
                  - story.outcomes.each do |outcome|
                    .outcome
                      %b
                        = outcome.long_description
