!!!
%html{lang: 'en', 'ng-app' => 'KidcareApp'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %title= "Little Star Early Learning Centre #{ !yield(:title).empty? ? "| #{ h yield(:title) }" : ''}"
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    .row
      .large-12.columns
        - if notice
          .alert-box.success{'data-alert' => ''}
            = notice
        - if alert
          .alert-box.warning{'data-alert' => ''}
            = alert
    .row{'ng-view' => ''}
      .large-12.columns
        = yield
    = render partial: 'layouts/footer'
    = javascript_include_tag 'application'
